/* ############################################ */
/* CUSTOM PROPERTIES AND UTILITY CLASSES        */
/* ############################################ */

:root {
  --color-mode: "light";
  --color-tuatara: #232220;
  --color-white: #ffffff;
  --color-heather: #c2d0da;
  --color-mirage: #1a1f2b;
  --color-mine-shaft: #282828;
  --color-alabaster: #f7f7f7;
  --color-magnolia: #f9f8ff;

  --bg-primary-color: var(--color-white);
  --title-color: var(--color-mine-shaft);
  --text-color: var(--color-mirage);
  --bg-secondary-color: var(--color-alabaster);
  --bg-tertiary-color: var(--color-magnolia);
  --border-color: #eee;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark";
  }

  :root:not([data-user-color-scheme]) {
    --bg-primary-color: var(--color-tuatara);
    --title-color: var(--color-white);
    --text-color: var(--color-heather);
    --bg-secondary-color: var(--color-mine-shaft);
    --bg-tertiary-color: var(--color-mine-shaft);
    --border-color: rgba(255, 255, 255, 0.1);
    --box-shadow-color: rgba(255, 255, 255, 0.1);
  }

  :root:not([data-user-color-scheme]) #header .header-mode-container > .fa-sun {
    display: inline-block;
  }

  :root:not([data-user-color-scheme])
    #header
    .header-mode-container
    > .fa-moon {
    display: none;
  }
}

[data-user-color-scheme="dark"] {
  --bg-primary-color: var(--color-tuatara);
  --title-color: var(--color-white);
  --text-color: var(--color-heather);
  --bg-secondary-color: var(--color-mine-shaft);
  --bg-tertiary-color: var(--color-mine-shaft);
  --border-color: rgba(255, 255, 255, 0.1);
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}

[data-user-color-scheme="dark"] #header .header-mode-container > .fa-sun {
  display: inline-block;
}

[data-user-color-scheme="dark"] #header .header-mode-container > .fa-moon {
  display: none;
}

/* ########################################## */
/* GENERAL CSS                                */
/* ########################################## */

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  background-color: var(--bg-primary-color);
}

.title > p {
  font-family: "Pacifico", sans-serif;
  font-size: 20px;
  color: #ff6600;
}

.title > h2 {
  font-size: 38px;
  font-weight: 600;
  color: var(--title-color);
}

/* ########################################## */
/* HEADER SECTION                             */
/* ########################################## */

#header {
  position: absolute;
  width: 100%;
}

#header .container {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

#header .header-logo > a {
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #header .header-logo > a {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  #header .header-logo > a {
    font-size: 54px;
  }
}

#header .header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#header .header-search {
  background-color: var(--bg-primary-color);
  border-radius: 6px;
  position: relative;
}

#header .header-search > input {
  background-color: transparent;
  border: none;
  padding: 0.75rem 3rem 0.75rem 0.75rem;
  color: var(--text-color);
}

#header .header-search > input::placeholder {
  color: var(--text-color);
  font-weight: 500;
}

#header .header-search > input:focus {
  outline: none;
}

#header .header-search > span {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  color: var(--text-color);
  opacity: 70%;
}

#header .header-mode-container > i {
  font-size: 18px;
}

#header .header-mode-container > .fa-sun {
  display: none;
}

#header .header-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 32px;
}

#header .header-btn:focus {
  outline: none;
}

#header .header-overlay {
  opacity: 1;
  visibility: visible;
  position: fixed;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background: rgb(6 3 0 / 90%);
  z-index: 9999;
  transform: scale(1);
  transition: opacity 200ms ease, visibility 200ms ease, transform 200ms ease;
}

@supports (backdrop-filter: blur(3px)) {
  #header .header-overlay {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

#header .header-overlay[data-toggle="off"] {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}

#header .header-overlay-btn-close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  background-color: #ff6600;
  border-radius: 6px;
  color: #fff;
}

#header .header-nav-link > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

#header .header-nav-link > ul a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: color 300ms ease;
}

#header .header-nav-link > ul a:hover {
  color: #ff6600;
}

/* ########################################## */
/* HERO SECTION                               */
/* ########################################## */

#hero .bg-img {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/hero_1.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: initial;
  position: fixed;
  z-index: -1;
}

#hero .container {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero h1 {
  max-width: 18ch;
  font-size: 40px;
  font-weight: 600;
}

#hero p {
  font-size: 16px;
  max-width: 60ch;
}

#hero button {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#hero button:hover {
  color: #ff6600;
}

#hero button i {
  font-weight: 900;
}

/* ########################################## */
/* ABOUT SECTION                              */
/* ########################################## */

#about {
  background-color: var(--bg-primary-color);
}

#about .about__left {
  color: var(--text-color);
}

/* ########################################## */
/* ACHIEVEMENT SECTION                        */
/* ########################################## */

#achievement .container-fluid {
  background-color: #ff6600;
}

@media screen and (min-width: 992px) {
  #achievement .achievement__left img {
    display: none;
  }

  #achievement .achievement__left::after {
    content: "";
    display: block;
    height: 650px;
    width: 100%;
    background-image: url(../img/achivement_1.jpg);
    background-size: cover;
    background-position: center;
  }
}

#achievement .title > p {
  font-size: 20px;
  color: #fff;
}

#achievement .title > h2 {
  font-size: 38px;
  color: #232121;
}

#achievement .achievement__description {
  color: #fff;
}

#achievement .achievement__right .fa {
  width: 70px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  background-color: #fff;
  color: #ff6600;
  border-radius: 10px;
  transition: color 500ms ease;
}

#achievement .achievement__right .fa:hover {
  color: #ffc600;
}

#achievement .achievement__right .row h3 {
  font-size: 18px;
  font-weight: 700;
}

#achievement .achievement__right .row p {
  color: #fff;
}

/* ########################################## */
/* START CATEGORY                             */
/* ########################################## */

#category {
  background-color: var(--bg-secondary-color);
}

#category .gal-slide-img {
  position: relative;
}

#category .gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
}

#category .gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  filter: brightness(60%);
  transition: all 0.4s;
}

#category .content-left-sec:hover img {
  filter: brightness(100%);
}

#category .gal-slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 0.5rem;
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

#category .content-left-sec a h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: white;
  font-weight: 700;
  display: inline-block;
}

/* ########################################## */
/* START MENU                                 */
/* ########################################## */

#menu {
  background-color: var(--bg-primary-color);
}

#menu .box-wrap {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: var(--bg-primary-color);
  position: relative;
  border: 1px solid var(--border-color);
}

#menu .box-wrap:hover {
  box-shadow: 0 25px 98px 0 var(--box-shadow-color);
}

#menu .box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

#menu p {
  color: var(--text-color);
}

#menu .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: var(--bg-tertiary-color);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

#menu .icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}

#menu .box-wrap:hover .icon {
  background: #ff6600;
}

#menu .box-wrap:hover .icon span.fa {
  color: #fff;
}

#menu .box-wrap h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: var(--title-color);
  text-decoration: none;
}

#menu .box-wrap h4 a:hover {
  color: #ff6600;
}

/* ########################################## */
/* START CTA                                  */
/* ########################################## */

#cta {
  background: url(../img/banner2.jpeg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
}

#cta:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

#cta .welcome-left {
  max-width: 700px;
  margin: 0 auto;
}

#cta .welcome-left h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}

#cta .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#cta .btn-primary {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}

#cta .btn-primary:hover {
  opacity: 0.7;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}

#cta .btn-white:hover {
  background: #fff;
  color: #ff6600;
}

#cta .btn-style,
#cta .btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 0.4s;
  background-color: #ff6600;
}

#cta .btn-white {
  background: transparent;
  border: 2px solid #fff !important;
  color: #fff;
}

/* ########################################## */
/* START STATIC                               */
/* ########################################## */

#static {
  z-index: 11;
  position: relative;
  width: 100%;
  background-color: var(--bg-primary-color);
}

#static .counter {
  margin-top: -90px;
  height: 300px;
  background-color: var(--bg-primary-color);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  padding: 40px 20px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  text-align: center;
  transition: 0.3s ease;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  #static .counter {
    margin-top: -110px;
  }
}

#static .counter:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

#static .counter span.fa {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}

#static .timer {
  font-size: 2.6em;
  font-weight: 600;
  color: var(--title-color);
}

#static .count-text {
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 600;
}

/* ########################################## */
/* START VIDEO                                */
/* ########################################## */

#video {
  background-color: var(--bg-primary-color);
}

#video .container {
  position: relative;
}

#video-popup {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

#video-popup > div > iframe {
  border-radius: 6px;
}

#video .video__thumbnail {
  position: relative;
}

#video .video__thumbnail > img {
  border-radius: 6px;
}

#video .video__thumbnail::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 70%);
  position: absolute;
  border-radius: 6px;
}

#video .container .video__popupIcon {
  width: 80px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: #fff;
  color: #ff6600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 1s linear infinite;
  transition: all 300ms ease-in-out;
}

#video .container .video__popupIcon:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background: #ff6600;
  color: #fff;
}

#video-popup > button {
  color: #fff;
  width: 40px;
  height: 40px;
  top: -40px;
  line-height: 40px;
  text-align: right;
  opacity: 1;
}

.mfp-bg {
  opacity: 0;
  transition: opacity 300ms ease;
}

.mfp-bg.mfp-ready {
  opacity: 0.9;
}

.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}

.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}

/* ########################################## */
/* BLOG                                       */
/* ########################################## */

#blog {
  background-color: var(--bg-secondary-color);
}

#blog .container .row {
  gap: 60px;
}

@media screen and (min-width: 992px) {
  #blog .container .row {
    gap: 20px;
  }
}

#blog .blog__item-top {
  position: relative;
}

#blog .blog__img-overlay {
  position: absolute;
  left: 10px;
  bottom: 10px;
  gap: 15px;
}

#blog .blog__img-overlay > button {
  font-size: 12px;
  font-weight: 700;
  background-color: #ff6600;
}

#blog .blog__img-overlay > div {
  gap: 10px;
  font-size: 15px;
  font-weight: 400;
}

#blog .blog__item > a {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  cursor: pointer;
}

#blog .blog__item > p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

#blog .blog__item-bottom {
  cursor: pointer;
}

#blog .blog__item-ava img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}

#blog .blog__item-ava span {
  font-weight: 700;
  font-size: 14px;
  width: 8ch;
  color: var(--title-color);
}

#blog .blog__item-btn > button {
  font-weight: 700;
  font-size: 14px;
  color: var(--title-color);
}

@media screen and (min-width: 380px) {
  #blog .blog__item-ava span {
    width: 14ch;
  }
}

#blog .blog__item-btn > button:hover {
  color: #ff6600;
}

/* ########################################## */
/* START TESTIMONIAL                          */
/* ########################################## */

#testi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary-color);
}

#testi .testi__slider {
  width: 100%;
}

#testi .testi__item {
  margin: 0 auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testi .comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#testi .comment-img img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#testi blockquote {
  text-align: center;
}

#testi blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--title-color);
  font-weight: 600;
  font-style: italic;
}

#testi .testi__slider p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
}

#testi .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: var(--title-color);
}

#testi .testi__item i {
  color: #ff6600;
  font-size: 40px;
}

#testi .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ff6600;
}

#testi .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: none;
}

/* ########################################## */
/* FOOTER                                     */
/* ########################################## */

#footer {
  background-color: #000;
  color: #fff;
}

#footer .footer__top h2 {
  font-size: 30px;
  font-weight: 600;
}

#footer .footer__top p,
#footer .footer__top a {
  color: #a5a2a1;
}

#footer .footer__socialLink {
  gap: 15px;
}

#footer .footer__socialLink > * {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  background-color: #fff;
  color: #ff6600;
  border-radius: 8px;
  transition: background-color 500ms ease, color 500ms ease;
  cursor: pointer;
}

#footer .footer__socialLink > *:hover {
  background-color: #ff6600;
  color: #fff;
}

#footer .footer__top .col-12:nth-of-type(2) h3 {
  font-size: 20px;
  font-weight: 700;
}

#footer .footer__top .col-12:nth-of-type(2) ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footer .footer__top .col-12:nth-of-type(2) a {
  text-decoration: none;
  font-weight: 500;
  transition: color 500ms ease;
}

#footer .footer__top .col-12:nth-of-type(2) a:hover {
  color: #ff6600;
}

#footer .footer__top .col-12:nth-of-type(3) h3 {
  font-size: 20px;
  font-weight: 700;
}

#footer .footer__top .col-12:nth-of-type(3) input {
  box-shadow: none;
  border: 2px solid transparent;
  transition: border 500ms ease;
}

#footer .footer__top .col-12:nth-of-type(3) input:focus {
  border: 2px solid #ff6600;
}

#footer .footer__top .col-12:nth-of-type(3) button {
  font-weight: 700;
  background-color: #ff6600;
  color: #fff;
  transition: background-color 500ms ease, color 500ms ease;
}

#footer .footer__top .col-12:nth-of-type(3) button:hover {
  background-color: #fff;
  color: #ff6600;
}

#footer .footer__bottom {
  color: #a5a2a1;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

#footer .footer__bottom .col-12:nth-of-type(1) p {
  font-weight: 500;
}

#footer .footer__bottom .col-12:nth-of-type(1) a {
  color: #ff6600;
  text-decoration: none;
  transition: color 300ms ease;
}

#footer .footer__bottom .col-12:nth-of-type(1) a:hover {
  color: #fff;
}

#footer .footer__bottom .col-12:nth-of-type(2) ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

#footer .footer__bottom .col-12:nth-of-type(2) ul > li > a {
  font-weight: 500;
  color: #a5a2a1;
  text-decoration: none;
  transition: color 500ms ease;
}

#footer .footer__bottom .col-12:nth-of-type(2) ul > li > a:hover {
  color: #ff6600;
}

/* ############################################ */
/* SCROLL TO TOP                                */
/* ############################################ */

.backToTop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  display: grid;
  place-content: center;
  background: #ff6600;
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  transition: background-color 200ms ease;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;
}

.backToTop:hover {
  color: #fff;
  text-decoration: none;
  animation: bounce 1.5s ease 0s infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
